*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#div{
    height: 479px;
    width: 100%;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav{
    height: 250px;
    width: 250px;
    border: 2px solid black;
}
